<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div class="card text-white p-5 bg-primary">
                    <div class="card-body">
                        <h1 class="mb-4">Your Profile</h1>
                        <form (ngSubmit)="changeOrganisationAndRole()" #login="ngForm">
                            <div class="form-group"> <label>User Name</label>
                                <output class="form-control" name="userName"> {{userName}} </output></div>
                            <div class="form-group"> <label>User Id</label>
                                <output type="email" class="form-control" name="userId">{{userId}}</output> </div>
                            <div class="form-group"> <label>Organisation</label>
                                <input type="text" class="form-control" name="organisation" required="true" [(ngModel)]="organisation" /> </div>
                            <div class="form-group"> <label>Switch Role</label> <select class="custom-select d-block w-100" name="role" required="true" [(ngModel)]="role" (ngModelChange)="roleChange($event)">
                                <option *ngFor="let role of allowedRoles" [value]="role.value">{{role.name}}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-secondary">Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>