.mat-table {
    border: 1px solid grey;
    border-collapse: collapse;
    empty-cells: show;
}

.mat-cell {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 10px;
    padding: 0px;
    text-align: left;
}

.mat-cell .mat-cell {
    min-height: 60px;
    flex: 1 0 0;
    justify-content: left;
    text-align: left;
}