table#allocationTable {
    border-collapse: collapse;
}

table#allocationTable,
th,
td {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 5px !important;
}

.col-md-12 a {
    margin: 10px;
}

#approveBtn,
#rejectBtn {
    color: white;
}